<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Dashboard - MOOC Tracker</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MOOC Tracker</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="navbar-form navbar-right">
              <button class="btn btn-inverse">Logout</button>
            </span>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" id="app">
    
    <div class="row">
      <div class="col-md-12">
        <h2>John's Courses &amp; Projects
          <br> <small><span id="courseCount">0</span> Courses, 2 Projects</small>
        </h2>

        <span class="pull-right">

          <button class="btn btn-info" id="addCourseButton"> <span class="glyphicon glyphicon-plus"></span> Course</button>
          
          <button class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Project</button>

        </span>

      </div>

      <div class="col-md-8" id="courseForm" style="display:none">

        <h3>Add new Course</h3>
        <div class="alert alert-danger" style="display:none" id="newCourseFormError">
          <strong>Error: </strong> Please enter all fields.
        </div>
        
        <div>
          <div class="form-group">
            <label for="courseTitle">Course Title</label>
            <input type="text" class="form-control" id="newCourseTitle" placeholder="Enter Course Title">
          </div>
          <div class="form-group">
            <label for="courseUniversity">University</label>
            <input type="text" class="form-control" id="newCourseUniversity" placeholder="Enter University Name">
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="courseStart">Start Date</label>
                <input type="date" class="form-control" id="newCourseStart">
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="courseStart">Start Date</label>
                <input type="date" class="form-control" id="newCourseEnd">
              </div>  
            </div>
          </div>
          <button class="btn btn-success" id="saveCourseButton"> <span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-6">

      <h3>Courses
        <!-- <small>All / <a href="#">Present</a>  / <a href="#">Past</a></small> -->
      </h3>
      <hr>

      <ul id="courseList">
        
      </ul>
        
      </div>

      <div class="col-md-6">

        <h3>Projects</h3>
        <hr>

        <ul id="projectList">
          
        </ul>      
        
      </div>

    </div>

  </div>

  <script type="text/template" id="courseTemplate">

    <li>
      <h4>
        <a href="#"><%= name %></a> <br>
        <small><%= university %>, <%= startDate %> to <%= endDate %> </small>
      </h4>
    </li>

  </script>

  <script type="text/template" id="courseTemplate">

    <li>
      <h4>
        <a href="#"></a> <br>
        <small>
          A job board for students written in PHP + MySQL <br>
          <a href="#">Project Site</a>, <a href="#">Github Repo</a>
        </small>
      </h4>
    </li>

  </script>

  <!-- js libs -->
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/lib/underscore.js"></script>
  <script src="/static/js/lib/backbone.js"></script>
  <script src="/static/js/lib/backbone.js"></script>
  <script src="/static/js/lib/backbone.localStorage-min.js"></script>

  <!-- app specific code -->
  <script src="/static/js/models/course.js"></script>
  <script src="/static/js/collections/courses.js"></script>
  <script src="/static/js/views/student-main-view.js"></script>
  <script src="/static/js/views/course-view.js"></script>
  <script src="/static/js/student-app.js"></script>

</body>
</html>