<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects - MOOC Tracker</title>
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MOOC Tracker</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="student-dashboard.html">Dashboard</a></li>
          <li><a href="student-courses.html">Courses</a></li>
          <li class="active"><a href="student-projects.html">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="navbar-form navbar-right">
              <button class="btn btn-inverse">Logout</button>
            </span>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" id="app">
    
    <div class="row">
      <div class="col-md-12">
        <h2>John's Projects
          <br> <small><span id="projectCount">0</span> Projects</small>
        </h2>

        <span class="pull-right">
          
          <button class="btn btn-primary" id="addProjectButton"> <span class="glyphicon glyphicon-plus"></span> Project</button>

        </span>

      </div>

      <div class="col-md-8" id="projectForm" style="display:none">

        <h3>Add new Project</h3>
        <div class="alert alert-danger" style="display:none" id="newProjectFormError">
          <strong>Error: </strong> Please enter all fields.
        </div>
        
        <div>
          <div class="form-group">
            <label for="newProjectName">Project Title</label>
            <input type="text" class="form-control" id="newProjectTitle" placeholder="Enter Project Title">
          </div>
          <div class="form-group">
            <label for="newProjectDescription">Project Description</label>
            <input type="text" class="form-control" id="newProjectDescription" placeholder="Brief description of your project">
          </div>
          <div class="form-group">
            <label for="newProjectSite">Project Site</label>
            <input type="url" class="form-control" id="newProjectSite" placeholder="URL for your project if any.">
          </div>
          <div class="form-group">
            <label for="newGithubUrl">Github Url</label>
            <input type="url" class="form-control" id="newGithubUrl" placeholder="URL for Github repo if any.">
          </div>
          
          <button class="btn btn-success" id="saveProjectButton"> <span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">

        <ul id="projectList">
          
        </ul>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="pull-right">
          MOOC Tracker is an <a href="https://github.com/Jaaga/mooc-tracker">opensource</a> app built at <a href="http://jaaga.in/">Jaaga</a>.
        </p>
      </div>
    </div>

  </div>

  <script type="text/template" id="projectTemplate">
    <div class="col-md-12">
      <h3>
        <a href="#"> <%= title %> </a> <br>
        <small>
          <%= description %> <br>
          <a href="<%= projectSite %>">Project Site</a>, <a href="#" class="showGithubInfo">Github Info</a>
        </small>
      </h3>
      <p class="githubInfo" style="display:none">
      Please wait... Loading... <img src="lib/img/loading.gif" alt="Loading..."> </p>
      <button class="btn btn-danger btn-xs projectDeleteButton">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </div>

  </script>

  <script type="text/template" id="githubInfoTemplate">
    Created at <%= github.created_at %>, Updated at <%= github.updated_at %>
    Language: <%= github.language %>, Size: <%= github.size %> <br>
    <ul>
      <% _.each(github.commits, function(commit){ %>
        <li> <%= commit.message %> at <%= commit.date %> </li>
      <% }); %>
    </ul>
  </script>
  <!-- js libs -->
  <script src="lib/js/jquery.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/js/underscore.js"></script>
  <script src="lib/js/backbone.js"></script>

  <!-- app specific code -->

  <!-- models -->
  <script src="models/project.js"></script>

  <!-- collections -->
  <script src="collections/projects.js"></script>

  <!-- views -->
  <script src="views/project-main-view.js"></script>
  <script src="views/project-view.js"></script>

  <!-- main app code -->
  <script src="project-app.js"></script>

</body>
</html>